---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(90deg,#77ecd1 0,#46ce7e);
}

.project-name{
    width: 270px;
    height: 81px;
    background: url(https://app.acessorh.com.br/assets/images/core/logo-acesso-rh-02.svg) no-repeat center;
    border: hidden;
    text-indent: -999em;
    display: inline-block;
    background-size: cover;
}
